/target/
/.nrepl-port
/.lein-failures
/pom.xml
/pom.xml.asc
/.lein-repl-history
/.idea/
/*.iml
/todo.org
/notes.org
/dev/resources/hello-async.png
/todo.org_archive
/figwheel_server.log
/examples/phonebook/.nrepl-port
/examples/phonebook/target/classes/META-INF/maven/yada/phonebook/pom.properties
/examples/phonebook/target/repl-port
/issues
/talks/clojurex-2015.pdf
/talks/clojurex-2015.tex
/talks/clojurex-2015-thomas.pdf
/talks/clojurex-2015-thomas.tex
/talks/clojurex-2015-malcolm.pdf
/talks/clojurex-2015-malcolm.tex
target/
/talks/clojutre-2016.html
/talks/clojutre-2016.pdf
/talks/clojutre-2016.tex
/talks/fby-2016.pdf
/talks/fby-2016.tex
