{:proxy? #cond {:dev false
                :prod true
                :local true}

 :docsite {:scheme #cond {:dev "http" :prod "https" :local "http"}
           :host #cond {:dev "localhost"
                        :prod "yada.juxt.pro"
                        :local "yada.juxt.pro.local"}
           :port 8090}

 :phonebook {:scheme #cond {:dev "http" :prod "https" :local "http"}
             :host #cond {:dev "localhost"
                          :prod "yada-phonebook.juxt.pro"
                          :local "yada-phonebook.juxt.pro.local"}
             :port 8099
             
             :entries {1 {:surname "Sparks"
                          :firstname "Malcolm"
                          :phone "1234"}
                       2 {:surname "Pither"
                          :firstname "Jon"
                          :phone "1235"}}}}

