/* Styles */

html,body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1em;
    background: #f8f8f8;
    line-height: 1.1em;
}

a {
    text-decoration: underline;
}

li {
    margin: 0.5em 0;
}

h1, h2 {
    clear: both;
}

h1 {
    font-size: 5em;
    padding: 0.5em 0;
}

h2 {
    padding-bottom: 0.7em;
    font-weight: bold;
}

div.chapter {
    margin-top: 4em;
}

div.chapter h2 {
    padding-top: 0.7em;
    border-top: 2px solid #888;
}

h3 {
    margin-top: 1.7em;
    margin-bottom: 1em;
}

h4 {
    margin-top: 1.7em;
    font-weight: bold;
    font-size: 1.2em;
}

p {
    margin: 1.5em 0;
    text-align: justify;
}

.status {
    font-family: monospace;
}

.headers {
    font-family: monospace;
    white-space: pre;
}

pre {
    padding: 0;
}

pre code {
    font-size: 12pt;
}

code {
    font-size: 12pt;
    font-family: monospace;
}

.body {
    font-family: monospace;
    width: 100%;
}

div.example {
    border: 5px solid #99f;
    background: #aaf;
}

div.example table {
    background: black;
    color: #65b042;
}

div.example textarea {
    border: 0px solid black;
    background: black;
}

div.note {
    border: 5px solid #cc5;
    background: #dd6;
}

div.example {
    padding: 10px 10px;
    clear: right; /* We clear any side-notes */
}

div.note {
    padding: 10px 10px;
    width: 50%;
    margin: 1em 1em;
    float: right;
}

.example h3, .note h3 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 0px;
    margin-bottom: 10px;
}

.note p, .example p {
    margin: 0.5em 0;
}

.note a {
    color: #a00;
    text-decoration: underline;
}


code.shell {
    color: #0f0;
    font-weight: normal;
}

code.shell span {
    color: #0f0;
}

code.shell:before {
    color: green;
    font-weight: normal;
    content: "$ ";
}


.green {
    color: #3a3;
}

.red {
    color: #f33;
    font-weight: bold;
}

code {
    color: inherit;
    font-weight: bold;
    background: inherit;
}

/* The yada logo */
span.yada {
    font-family: RochesterYada, sans-serif;
    font-size: 1.25em;
    /* Pad ever so slightly on the left */
    padding-left: 0.08em;
}

code span.yada, b span.yada {
    font-family: inherit;
    font-size: inherit;
}

blockquote {
    border-left: 5px solid #aaa;
}

.mastfoot {
    line-height: 1.5em;
}

.juxt-logo {
    width: 80px;
}

.mastfoot hr {
    border-color: #888;
    border-width: 2px;
}

.juxt-logo-small {
    width: 52px;
}

div.warning {
    border: 3px solid #600;
    background: #a00;
    margin-bottom: 1em;
    padding: 10px;
}

div.warning p {
    color: white;
    font-weight: bold;
    margin: 0;
}

div.warning p:before {
    content: "WARNING: ";
}
