/* Styles */

.status {
    font-family: monospace;
}

.headers {
    font-family: monospace;
    white-space: pre;
}

.body {
    font-family: monospace;
    width: 100%;
}

.example {
    border: 1px solid #888;
    padding: 0px 10px;
    margin: 20px 0px 0px 0px;
}

.example h3 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-style: italic;
}

.green {
    color: #3a3;
}

.red {
    color: #f33;
    font-weight: bold;
}

code {
    color: black;
    background: white;
}